@use 'colors' as c;

@mixin reset{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 14px;
    box-sizing: border-box;
    color: c.$text;
    transition: all 0.4s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin sizing($w:100vw,$h:100vh) {
    width: $w;
    height: $h;
}

@mixin bg-image($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}