@use '../base' as base;

@mixin nav-link {
    position: absolute;
    top: 10px;
    left: 10px;
    flex-direction: column;
    @include base.flex;
}
@mixin links {
    width: 120px;
    height: 30px;
    color: base.$text;
    text-transform: uppercase;
    font-size: 2rem;
    opacity: 0.6;
    &:hover {
        letter-spacing: 5px;
        opacity: 1;
        font-weight: 600;
    }
}